<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatAppClient</title>

    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        <div>
            <ul>
                <li v-for="message in messages">
                    <p>{{message.content}}</p>
                    <small>{{message.author}}</small>
                </li>
            </ul>
        </div>

        <div>
            <label for="messageHelp">Type your message here</label>
            <input type="text" name="message" v-model="curr_message" id="messageHelp">
            <button @click="sendMessage">Submit</button>
        </div>

        <div>
            <label for="changename">Change username</label>
            <input @blur="changeName" type="text" name="changename" id="changename" v-model="author">
            <small style="color: red;" v-show="name_error">This name was already taken...</small>
        </div>
    </div>

    <!-- Import App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script src="./app.js"></script>
</body>

</html>